.content{
    /* width: 50vw; */
    display: flex;
    align-items: center;

}

.text{
    text-align: center;
    font-size: 2vw;
    font-weight: 600;

}

p{
    margin: 2px;
}

img {
    max-width: 100%;
    width: 27vw; 
    height: auto; 
    /* margin-top: 20px;  */
}