.slick-slide > div {
    margin: 0 10px;
}

.slick-prev::before {
    content: url('../../assets/LeftArrow.svg') !important;
}

.slick-next::before {
    content: url('../../assets/RightArrow.svg') !important;
}